<h2>Search Books</h2>

<form class="" action="/books" method="GET">
  <label for="">name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit" name="button">Search</button>
</form>
<br>
<% books.forEach(book => { %>
  <div><%= book.name  %></div>
<% }) %>
