<h2>New Book</h2>
<form class="" action="/books" method="post" enctype="multipart/form-data">

  <%- include('_form_fields.ejs') %>
  <a href="/books">Cancel</a>
  <button type="submit" name="button">Create</button>
</form>
