<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <!-- <script defer src="javascripts/fileUpload.js"></script> -->
    <title>*Project Name*</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header.ejs') %>
      <div class="inner-container">
        <%- include('../partials/errorMessage.ejs') %>
        <%- body %>
      </div>
    </div>

    <script defer type="text/javascript">
      FilePond.registerPlugin(
        FilePondPluginImagePreview,
        FilePondPluginImageResize,
        FilePondPluginFileEncode,
      );
      FilePond.parse(document.body);
      FilePond.setOptions({
        stylePanelAspectRatio: 150 / 100,
        imageResizeTargetWidth: 100,
        imageResizeTargetHeight: 150,
      })
    </script>
  </body>
</html>
