<h2 class="page-header">Recently Added</h2>
<div className="">
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img width="150" height="100" src="<%= book.coverImagePath %>" alt="">
    </a>
  <% }) %>
</div>
